
@import "~bootstrap/scss/functions";
@import "./helper/variables";
@import "~bootstrap/scss/mixins";

@import '~bootstrap/scss/bootstrap';

// base 
ul{
  list-style: none;
}

img{
  vertical-align: middle;
}

//

.bg-cover{
  background-size: cover;
  background-position: center center;
}

.img-cover{
  object-fit: center;
  object-position: center center;
}

.cursor-notAllow{
  cursor: not-allowed;
}

.parallax{
  background-attachment: fixed; /* 固定圖像 */
}