
@import "~bootstrap/scss/functions";
@import "./helper/variables";
@import "~bootstrap/scss/mixins";

@import '~bootstrap/scss/bootstrap';

// base 
ul{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

//

.bg-cover{
  background-size: cover;
  background-position: center center;
}

.img-cover{
  object-fit: center;
  object-position: center center;
}

.cursor-notAllow{
  cursor: not-allowed;
}

.parallax{
  background-attachment: fixed; /* 固定圖像 */
}

// cmp 行為調整
.card{
  &__imgWrap{
    overflow: hidden;
  }
  &__img{
    transition: transform .5s;
  }
  &:hover{
    .card__img{
      position: relative;
      transform : scale(1.25);
      &:before{
        content:"";
        position: absolute;
        left: 0 ;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.3);
      }
      &:after{
        content:'看詳細';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }
  }
  &.moveToCart{
    .card__img{
      &:after{
        content:'加入購物車 !!!';
      }
    }
  }
  &__Favorite{
    z-index: 1;
    top: 10px;
    left: 10px;
    &:hover{
      color: $primary !important;
    }
  }
}

.btn:disabled, .btn.disabled{
  cursor: not-allowed;
  pointer-events: auto;
}